<html ng-app="testApp">
<head>
    <title>NgCodingChallenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-controller="testController">
    
    <h2>Coding challenge~</h2>
    
    <button ng-click="getRequest()">Click to test all posts</button>
    <button ng-click="get3Requests()">Click to test top 3 posts</button>
    <h2> Open your console to view the results! </h2>

    <script src="script.js"></script>
</body>
</html>